<button (click)="displayButton = !displayButton">button</button>
<h1 *ngIf="displayButton">Bonjour</h1>

{{ title }}
<hr />
{{ nombre }}
<hr />
{{ bool }}
<hr />
{{ obj.cle }}
<hr />
{{ 1 + 1 }}
<hr />
{{ square(10) }}

<input [type]="inputType" />

<br />
<br />
<br />
<div
  class="square"
  [style.background]="color"
  (click)="changeColor('green')"
  (mouseenter)="changeColor('purple')"
  (mouseleave)="changeColor('red')"
></div>
<hr />
<input type="text" [(ngModel)]="content" />
<hr />
{{ content }}
<hr />
<input type="text" [(ngModel)]="color2" />
<div
  [ngStyle]="{ width: '200px', height: '200px', backgroundColor: color2 }"
></div>

<hr />

<input type="text" [(ngModel)]="color3" />
<div
  class="square"
  [ngClass]="{ bluesquare: color3 === 'blue' }"
  [class.redsquare]="color3 === 'red'"
></div>

<br />

<ul>
  <li *ngFor="let user of users; let i = index">{{ i }}-{{ user.nom }}</li>
</ul>

<br />

<button class="btn btn-primary" (click)="box = 'A'">A</button>
<button class="btn btn-primary" (click)="box = 'B'">B</button>
<button class="btn btn-primary" (click)="box = 'C'">C</button>

<div [ngSwitch]="box">
  <h1 *ngSwitchCase="'A'">A</h1>
  <h1 *ngSwitchCase="'B'">B</h1>
  <h1 *ngSwitchCase="'C'">C</h1>
  <h1 *ngSwitchDefault>Default</h1>
</div>

<hr />

<img ngSrc="assets/img1.jpg" width="600" height="400" priority />

<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>
<img ngSrc="assets/img2.jpg" width="600" height="400" />
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>
<p>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error, explicabo?
  Numquam suscipit provident tenetur dolore unde ratione nulla! Nisi vel quam
  vero quisquam officiis nulla iste ducimus sint vitae sapiente.
</p>

<img ngSrc="assets/img3.jpg" width="600" height="400" />

<p>l immersion facilité</p>
